body {
	background-color: #365a90;
	color: rgba(255, 255, 255);
  overflow-x: hidden;
}

.footer-links{
border: solid #ffffff;
border-radius: 20px;
width: 120px;
text-align: center;
padding-left: 10px;
}
.footer-links:hover{
	width: 120px;
background-color: #cbe05c;
border-radius: 20px;
text-align: center;
}
.loginBtn{
	margin-top: 50px;
	display: flex;
	margin-left: 60px;
}
.contact-input{
	width: 940px;
}
.titulo_web{
	font-size: xx-large;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin-bottom: 80px;
	text-align: center;
	color: #ffffff;
}

.form {
	display: flex;
	flex-direction: column;
	width: 945px;
	padding-left: 10px;
	margin-left: 300px;
	padding-top: 50px;
	text-align: justify;
  }

  .formForgot::before,.formForgot::after {
	background: #024b86;
	position: absolute;
	content: "";
	width: 1000px;
	height: 215px;
	transition: all 0.8s ease;
	border-color: black;
	border: 2px solid black;
	
  }
  .formLogin::before,.formLogin::after {
	background: #024b86;
	position: absolute;
	content: "";
	width: 1010px;
	height: 350px;
	transition: all 0.8s ease;
	border-color: black;
	border: 2px solid black;
  }

  .formContacto::before,.formContacto::after {
	background: #024b86;
	position: absolute;
	content: "";
    width: 1000px;
	height: 520px;
	transition: all 0.8s ease;
	border-color: black;
	border: 2px solid black;
  }
 
  .formRegistro::before,.formRegistro::after {
	background: #024b86;
	position: absolute;
	content: "";
	width: 1000px;
	height: 740px;
	transition: all 0.8s ease;
	border-color: black;
	border: 2px solid black;
   
  }
  
  .form::before {
	z-index: -2;
	background: #cbe05c;
	border-radius: 60px;
	transform: translateX(-4.5rem) translateY(-4.5rem);
	border: 2px solid #cbe05c;
	border-color: black;
  
  }
  .form::after {
	border-radius: 60px;
	z-index: -1;
	transform: translateX(-2rem) translateY(-2.25rem);
  }
  
  .form:focus-within {
	background: transparent;
  }
  .form:focus-within::before {
	width: 0%;
	height: 0%;
	transform: translatex(0px) translatey(0px);
  }
  .form-control {
	background-color: #024b86;
	color: #ffffff;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
	  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	padding-bottom: 5px;
	border-color: #ffffff;
	border-width: 2px;
	border-radius: 10px;
  }
  
  .form-control:hover {
	background-color: #cbe05c;
	color: black;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
	  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	padding-bottom: 10px;
	padding-top: 10px;
	border-color: black;
	border-width: 2px;
	font-weight: bolder;
	transition: background 750ms, box-shadow 750ms;
  }
  
  .form-label {
	color: #cbe05c;
	font-weight: bold;
	font-size: large;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
	  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	padding-top: 15px;
  }
  
  .imagenActual {
	padding-top: 24px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 24px;
	border-color: rgb(255, 255, 255);
	border: 2px solid rgb(255, 255, 255);
	border-radius: 10px;
  }
  
  .imagenA{
	margin-top: 5px;
	margin-left: 50px;
  }
  .imagenActual:hover {
	background-color: #cbe05c;
	border-radius: 10px;
	border-color: black;
	border: 2px solid black;
	transition: background 750ms, box-shadow 750ms;
  }
  
  input[type="file"]{
	background-color: #024b86;
	color: #ffffff;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
	  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	border:solid #ffffff;
	border-color: #ffffff;
	border-width: 2px;
	border-radius: 10px;
	width: 300px;
  }
  
  input[type="file"]:hover{
	background-color: #cbe05c;
	color: black;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
	  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	border: solid black;
	border-color: black;
	border-width: 2px;
	border-radius: 10px;
	font-weight: bolder;
	transition: background 750ms, box-shadow 750ms;
  }
  
  input[type="file"]::file-selector-button {
	background-color: #cbe05c;
	color: black;
	border: transparent;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
	  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-weight: bolder;
	transition: background 750ms, box-shadow 750ms;
  }
  
  input[type="file"]::file-selector-button:hover{
	background-color:#024b86;
	border: transparent;
	color: #ffffff;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
	  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-weight: bolder;
	transition: background 750ms, box-shadow 750ms;
  }
 
  @media screen and (min-width: 0px) and (max-width: 1023px) {
	.loginBtn{
		margin-top: 70px;
		display: flex;
		margin-left: 0px;
		width: 480px;
		height: 75px;
	}
    .ingresar2{
		background-color: transparent; 
		 border-color: transparent;
		 color: white;
		 width: 250px;
		 height: 39px;
		 padding-right: 130px;
		 align-items: center;
		 text-transform: uppercase;
		 }
	.btn{
		position:relative;
		display:block;
		color:rgb(255, 255, 255);
		font-size: 10px;
		font-weight: bold;
		text-decoration: none;
		padding-right: 12px;
		text-transform: uppercase;
		overflow: hidden;
		transition: 4s all ease;
	  }

	  .btn::before{
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
		transition: all 0.6s ease;
	  }
	
	.form {
		display: flex;
		flex-direction: column;
		width: 445px;
		padding-left: 10px;
		margin-left: 170px;
		padding-top: 50px;
		text-align: justify;
	  }
	
	.formLogin::before,.formLogin::after {
		background: #024b86;
		position: absolute;
		content: "";
		width: 500px;
		height: 350px;
		transition: all 0.8s ease;
		border-color: black;
		border: 2px solid black;
	  }

	  .form::before {
		z-index: -2;
		background: #cbe05c;
		border-radius: 60px;
		transform: translateX(-4.5rem) translateY(-4.5rem);
		border: 2px solid #cbe05c;
		border-color: black;
	  
	  }
	  .form::after {
		border-radius: 60px;
		z-index: -1;
		transform: translateX(-2rem) translateY(-2.25rem);
	  }
	  
	  .form:focus-within {
		background: transparent;
	  }
	  .form:focus-within::before {
		width: 0%;
		height: 0%;
		transform: translatex(0px) translatey(0px);
	  }
	  .form-control {
		background-color: #024b86;
		color: #ffffff;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		padding-bottom: 5px;
		border-color: #ffffff;
		border-width: 2px;
		border-radius: 10px;
	  }
	  
	  .form-control:hover {
		background-color: #cbe05c;
		color: black;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		padding-bottom: 10px;
		padding-top: 10px;
		border-color: black;
		border-width: 2px;
		font-weight: bolder;
		transition: background 750ms, box-shadow 750ms;
	  }
	  
	  .form-label {
		color: #cbe05c;
		font-weight: bold;
		font-size: large;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		padding-top: 15px;
	  }
	  
	  .imagenActual {
		padding-top: 24px;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 24px;
		border-color: rgb(255, 255, 255);
		border: 2px solid rgb(255, 255, 255);
		border-radius: 10px;
	  }
	  
	  .imagenA{
		margin-top: 5px;
		margin-left: 50px;
	  }
	  .imagenActual:hover {
		background-color: #cbe05c;
		border-radius: 10px;
		border-color: black;
		border: 2px solid black;
		transition: background 750ms, box-shadow 750ms;
	  }
	  
	  input[type="file"]{
		background-color: #024b86;
		color: #ffffff;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		border:solid #ffffff;
		border-color: #ffffff;
		border-width: 2px;
		border-radius: 10px;
		width: 300px;
	  }
	  
	  input[type="file"]:hover{
		background-color: #cbe05c;
		color: black;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		border: solid black;
		border-color: black;
		border-width: 2px;
		border-radius: 10px;
		font-weight: bolder;
		transition: background 750ms, box-shadow 750ms;
	  }
	  
	  input[type="file"]::file-selector-button {
		background-color: #cbe05c;
		color: black;
		border: transparent;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		font-weight: bolder;
		transition: background 750ms, box-shadow 750ms;
	  }
	  
	  input[type="file"]::file-selector-button:hover{
		background-color:#024b86;
		border: transparent;
		color: #ffffff;
		font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
		font-weight: bolder;
		transition: background 750ms, box-shadow 750ms;
	  }
	 
}
